.chartbg{
   
    color: #fff !important;
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: bold;

}
.title{
    font-weight: bold;
}